  body { font-family: 'Georgia'; font-size:1.2em; padding:20px; text-shadow: 0 2px 0 rgba(255, 255, 255, 0.35); background: #eee; color:#000;}
  h1, h2, h3 { margin-bottom: 1.3em; color:#000; text-shadow: 0 2px 0 rgba(255, 255, 255, 0.35); font-weight:bold; }
  h1 { font-size:2.5em; }
  h2 { font-size:1.7em; }
  h3 { font-size:1.4em; margin-top:0; }
  ul { list-style: 'disc'; }
  ul li { margin-bottom: 0.5em; line-height:1.5em; }
  .slide { margin:0 auto; position:relative;}
  .slide a { color:#66a;}
  .code { font-family: 'Lucida Console'; color:#3b3; }
  ul li.cont { list-style:none; color:#444; padding-left:0.5em;}
  ul li.intro { list-style:none; color:#000; margin-left:-2em;}
  button.prev { position:absolute; bottom:100px; left:-30px; border:2px solid #444; border-left:0; background:#999; cursor:pointer; }
